<h1><%= @article.title%> </h1></br>
<p><%= @article.content%></p></br>
<% @comments.each do |c| %>
<comment> %= c.content %></comment>
<% end %>

<% if @rating.content.empty? == false%>
    <p> Rating: <%= @rating.content%></p></br>
    <% end %>
<p><a href="/articles"><< Back to articles </a></p>

